<div class="container">
  <h1>Angular Components</h1>

  <app-post-form
    (onAdd)="updatePosts($event)"
  ></app-post-form>

  <hr/>

  <app-post
    *ngFor="let p of posts"
    [postt]="p"
  >
    <div #link>
      <small *ngIf="p.text.length > 10; else short"> Пост длинный </small>
      <ng-template #short>
        <small> Пост короткий </small>
      </ng-template>
    </div>
  </app-post>

  <p [appStyle]="'red'" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, vitae?</p>
  <p [appStyle]="'blue'" [dStyles]="{border: '1px solid red', borderRadius: '15px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, vitae?</p>

  <button class="btn" (click)="isVisible = !isVisible"> Toggle </button>

<!--  <div *ngIf="isVisible" class="wrap">-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolor eaque enim error harum hic optio reprehenderit. Earum, exercitationem numquam.</p>-->
<!--  </div>-->

  <div class="wrap" *appIfnot="!isVisible" >
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolor eaque enim error harum hic optio reprehenderit. Earum, exercitationem numquam.</p>
  </div>
</div>



